body,
html,
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, open-sans, Sans-Serif;
    overflow: hidden;
}

a{
    color: var(--light-color);
    text-decoration: none;
}

ul{
    list-style: none;
}