.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
}

.ui-show{
    opacity: 1;
    transition: all 0.5s ease-out;
}

.ui-hidden{
    opacity: 0;
    transition: all 1s ease-out;
    left: -50rem !important;
}